body {
    min-width: 990px;
}
a:hover {
    cursor: pointer;
}
/*右侧导航样式开始*/
#rightSlide {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 350px;
    z-index: 3
}
#rightNav {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 35px;
    background-color: black;
    z-index: 3;
}
#rightCon {
    position: absolute;
    left: 35px;
    height: 100%;
    width: 280px;
    padding-right: 35px;
    background-color: #e6e6e6;
}
/*购物车开始*/
#rightCon .shopCar {
    height: 100%;
    width: 100%;
    color: gray;
}
#rightCon .shopCar .tm-mcTop {
    position: relative;
    width: 272px;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    background-color: #e6e6e6;
}
#rightCon .shopCar .tm-mcTop .tm-mcChk {
    width: 23px;
    text-align: center;
    float: left;
}
.shopCar .tm-mcTop .tm-mcChk input {
    vertical-align: middle;
}
#rightCon .shopCar .tm-mcTop label {
    display: inline-block;
    line-height: 28px;
    float: left;
    font-size: 12px;
}
#rightCon .tm-mcList {
    position: relative;
}
#rightCon .tm-mcHandler {
    position: relative;
    width: 100%;
}
#rightCon .tm-mcHandler .tm-mcTotal {
    width: 248px;
    height: 30px;
    line-height: 30px;
    background-color: #e6e6e6;
    padding: 0;
    color: #333;
    overflow: hidden;
    margin: 0 auto;
}
#rightCon .tm-mcHandler .tm-mcTotal h3 {
    float: left;
    width: 100px;
    height: 30px;
    color: #000;
    font-weight: 400;
}
#rightCon .tm-mcHandler .tm-mcTotal .tm-mcTotalFeeWrap {
    float: left;
    width: 148px;
    height: 30px;
    text-align: right;
}
#rightCon .tm-mcHandler .tm-mcCashier {
    width: 248px;
    height: 40px;
    line-height: 40px;
    background-color: #ff0036;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
#rightCon .tm-mcHandler .tm-mcCashier span {
    margin-left: 4px;
}
/*购物车结束*/
@media(max-width: 1221px){
    #rightNav {
        animation: hidden 0.6s;
        animation-fill-mode:forwards;
    }
    #rightNav ul li:nth-of-type(2){
       transform: translateX(-35px);
    }
    #rightNav ul:last-child li:nth-of-type(1){
        transform: translateX(-35px);
    }
}
#rightNav ul:first-child {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 50%;
}
#rightNav ul:last-child {
    position: absolute;
    bottom: 2%;
    width: 100%;
}
#rightNav ul li {
    position: relative;
    width: 35px;
    height: 35px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    line-height: 35px;
    background-color: #000;
}
#rightNav ul li .navigationInto {
    position: absolute;
    top: 0;
    right: 70px;
    width: 90px;
    height: 35px;
    opacity: 1;
    display: none;
    line-height: 35px;
    background-color: #494949;
}
#rightNav ul li .navigationIntoArr {
    position: absolute;
    top: 8px;
    right: -7px;
    width: 16px;
    height: 16px;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    color: #494949;
}
#rightNav ul li:hover {
    background-color: red;
}
#rightNav ul li:hover .navigationInto {
    display: block;
    animation: move .6s;
    animation-fill-mode: forwards;
}
#rightNav ul li .iconfont {
    font-size: 22px;
}
@keyframes move {
    from {opacity: 0;transform: translateX(0px)}
    to {opacity: 1;transform: translateX(35px)}
}
@keyframes leave {
    from {opacity: 1;transform: translateX(35px)}
    to {opacity: 0;transform: translateX(0px)}
}
@keyframes hidden {
    from {transform: translateX(0px)}
    to {transform: translateX(35px)}
}
@keyframes block {
    from {transform: translateX(35px)}
    to {transform: translateX(0px)}
}
/*右侧导航样式结束*/

/*头部导航栏开始*/
#site-nav {
    position: relative;
    width: 100%;
    height: 34px;
    background-color: #f2f2f2;
    border:1px solid #e5e5e5;
    color: #999;
}
.sn-bd {
    position: relative;
    width: 1230px;
    height: 32px;
    margin: auto;
    line-height: 32px;
}
@media (max-width: 1260px){
    .sn-bd{
        width:982px;
    }
}
.sn-bd p {
    float: left;
}
.logo-info a{
    padding: 0 10px;
}
.logo-info a:hover {
    color: red;
}
.sn-bd ul {
    float: right;
}
.sn-bd ul li {
    position: relative;
    float: left;
}

.sn-menu .spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.sn-menu li a {
    display: block;
    position: relative;
    padding: 0 7px;
}
.sn-menu a:hover {
    color: red;
}
.sn-menu i {
    display: block;
    height: 32px;
    position: relative;
    padding: 0 7px;
    z-index: 1;
}

.sn-bd i:hover b{
    transition: transform .4s;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
}
.sn-menu b {
    position: absolute;
    right: 0px;
    top: 14px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.dropdown:hover{
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
.dropdown:hover .dropdown-layer {
    display: block;
}
.dropdown .ddserv{
    right: 0px;
    width: 170px;
    padding: 10px 0;
}
.dropdown .ddnav{
    right: -84px;
    width: 1188px;
    padding: 15px 0;
}
.dropdown .dropdown-layer {
    position: absolute;
    line-height: 24px;
    border:1px solid#ccc;
    display: none;
    z-index: 1;
    background-color: #fff;
}
.dropdown-layer .item-client {
    padding-left: 15px;
    font-weight: 700;
    color: #666;
}
.dropdown-layer .item-business {
    padding-left: 15px;
    font-weight: 700;
    color: #666;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #eee;
}
.dropdown-layer .item {
    display: inline-block;
    width: 70px;
    color: #999;
    font-size: 12px;
    padding-left: 10px;
}
.dropdown dl {
    float: left;
    padding-left: 20px;
}
.dropdown dl+dl {
    border-left:1px dashed #eee;
}
.dropdown dl dt {
    margin-bottom: 5px;
    font-weight: 700;
    padding-left:7px;
    color: #666;
}
.dropdown dl dd {
    float: left;
    width: 80px;
}
.dropdown .fore1 {
    width: 340px;
}
.dropdown .fore2 {
    width: 255px;
}
.dropdown .fore3 {
    width: 255px;
}
.dropdown .fore4 {
    width: 255px;
}
@media (max-width: 1260px) {
    .dropdown .ddnav{
        width: 988px;
    }
    .dropdown .fore1 {
        width: 300px;
    }
    .dropdown .fore2 {
        width: 200px;
    }
    .dropdown .fore3 {
        width: 200px;
    }
    .dropdown .fore4 {
        width: 200px;
    }
}
/*头部导航栏结束*/

/*头部开始*/
#header {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #fff;
    color: #999;
}
.head-bd {
    position: relative;
    width: 1230px;
    height: 130px;
    margin: auto;
}
@media (max-width: 1260px){
    .head-bd{
        width:982px;
    }
}
.head-bd .head-logo {
    float: left;
    height: 100%;
    width: 200px;

}
.head-bd .head-logo img {
    height: 100%;
    margin: auto;
}
.head-bd .head-search {
    float: left;
    height: 100%;
    width: 70%;
}
.head-search .head-input {
    position: relative;
    width: 60%;
    height: 40px;
    line-height: 40px;
    border: 2px solid red;
    margin:40px 0 0 7%;
}
.head-input .heder-text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}
.head-input .header-buttom {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 132px;
    height: 40px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    background-color: red;
    color: white;
    letter-spacing: 5px;
    font-size: 18px;
}
.head-input .hot-query {
    position: absolute;
    top: 36px;
    left: 0;
    height: 36px;
    width: 100%;
    overflow: hidden;
}
.head-input .hot-query li {
    display: inline-block;
    line-height: 1.1;
    padding: 0px 12px;
}
.head-input .hot-query li+li {
    border-left: 1px solid rgb(204, 204, 204);
}
.head-input .hot-query li a:hover {
    color: red;
}
/*头部结束*/

/*主题样式开始*/
#content {
    position: relative;
    width: 100%;
    color: #999;
    font-size: 12px;
    background-color: #f5f5f5;
}
    /*主题内容导航开始*/
    #content .main-nav {
        position: relative;
        height: 36px;
        width: 100%;
        background-color: #fff;
        border-bottom:1.5px solid#FF0036;
    }
    #content .inner-con0 {
        width: 1230px;
        margin:0 auto;
    }
    @media (max-width: 1260px){
        #content .inner-con0 {
            width: 982px;
        }
    }
    #content .inner-con1 {
        margin-left: 200px;
        height: 36px;
        overflow: hidden;
    }
    #content .inner-con1 a {
        height: 35px;
        line-height: 35px;
        float: left;
        padding: 0 8px;
        font-weight: 500;
        font-size: 16px;
        color: #333;
        letter-spacing: normal;
    }
    #content .inner-con1 a:hover {
        color: red;
    }
    #content .inner-con1 a img {
        width: 100px;
        height: 30px;
        margin-top: 3px;
    }
    /*主题内容导航结束*/

    /*主题内容选项卡+轮播图开始*/
    #content .category-con {
        position: relative;
        width: 100%;
        height:500px;
    }
    .category-con .category-con0 {
        position: relative;
        height: 500px;
        width: 1230px;
        margin:0 auto;
    }
    @media (max-width: 1260px) {
        .category-con .category-con0 {
            width: 982px;
        }
    }
    .category-con .category-con0 .category-type {
        position: absolute;
        top: -36px;
        left: 0px;
        height: 36px;
        width: 200px;
        color: white;
        background-color: #FF0036;
    }
    .category-type .fp-iconfont {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        font-weight: 700;
        font-size: 16px;
        margin-left: 14px;
    }
    .category-type .fp-div {
        display: inline-block;
        height: 36px;
        margin-left: 8px;
        font-size: 16px;
        line-height: 36px;
        font-weight: 700;

    }
    .category-con0 .category-tab-content {  /*tab-nav */
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    .category-tab-content .normal-nav {
        position: relative;
        background-color: rgba(0,0,0,.55);
        width: 200px;
        height: 500px;
    }
    .normal-nav .nav-item {
        position: relative;
        height: 31.2px;
        line-height: 31.2px;
        color: #fff;
        font-size: 14px;
    }
    /*选项卡,选项内容选中不同颜色 开始*/
    .nav-item-0 a:hover, .nav-item-0.selected,
    .nav-item-3 a:hover, .nav-item-3.selected,
    .pannel-0 a.highlight, .pannel-0 a:hover,
    .pannel-3 a.highlight, .pannel-3 a:hover{
        color: #e54077!important;
    }
    .nav-item-1 a:hover, .nav-item-1.selected,
    .nav-item-11 a:hover, .nav-item-11.selected,
    .nav-item-5 a:hover, .nav-item-5.selected,
    .nav-item-9 a:hover, .nav-item-9.selected,
    .pannel-1 a.highlight, .pannel-1 a:hover,
    .pannel-11 a.highlight, .pannel-11 a:hover,
    .pannel-5 a.highlight, .pannel-5 a:hover,
    .pannel-9 a.highlight, .pannel-9 a:hover{
        color: #427def!important;
    }
    .nav-item-2 a:hover, .nav-item-2.selected,
    .nav-item-4 a:hover, .nav-item-4.selected,
    .pannel-2 a.highlight, .pannel-2 a:hover,
    .pannel-4 a.highlight, .pannel-4 a:hover{
        color: #6347ed!important;
    }
    .nav-item-6 a:hover, .nav-item-6.selected,
    .pannel-6 a.highlight, .pannel-6 a:hover{
        color: #fa5c5c!important;
    }
    .nav-item-12 a:hover, .nav-item-12.selected,
    .nav-item-7 a:hover, .nav-item-7.selected,
    .nav-item-8 a:hover, .nav-item-8.selected,
    .pannel-12 a.highlight, .pannel-12 a:hover,
    .pannel-7 a.highlight, .pannel-7 a:hover,
    .pannel-8 a.highlight, .pannel-8 a:hover{
        color: #f7a831!important;
    }
    .nav-item-10 a:hover, .nav-item-10.selected,
    .nav-item-14 a:hover, .nav-item-14.selected,
    .pannel-10 a.highlight, .pannel-10 a:hover,
    .pannel-14 a.highlight, .pannel-14 a:hover{
        color: #dd2727!important;
    }
    .nav-item-13 a:hover, .nav-item-13.selected,
    .nav-item-15 a:hover, .nav-item-15.selected,
    .pannel-13 a.highlight, .pannel-13 a:hover,
    .pannel-15 a.highlight, .pannel-15 a:hover{
        color: #3bc7b0!important;
    }
    .normal-nav .selected {
        background-color: #fff;
    }
    .pannel-con .CategoryMenuPannel{
        display: none;
    }
     /*选项卡,选项内容选中不同颜色 结束*/
    .normal-nav .nav-item .iconfont {
        margin:0 4px 0 14px;
        height: 31px;
        line-height: 31px;
        font-size: 16px;
    }
   
    .category-con0 .content-con {  /* tab-con*/
        position: absolute;
        left: 0px;
        top: 0px;
        height: 500px;
        z-index: 2;
    }
    .content-con .pannel-con {
        position: absolute;
        left: 200px;
        top: 0px;
        height: 500px;
        width: 852px;
        background-color: #fff;
        display: none;
    }
    .pannel-con .hot-word-con { /*tab内容栏*/
        float: left;
        width: 583px;
        height: 462px;
        margin:19px 30px;
        overflow: hidden;background-color: #fff;
    }
    .hot-word-con .hot-word-line .line-title{
        float: left;
        width: 60px;
        height: 22px;
        line-height: 22px;
        color: #333;
        font-size: 14px;
        font-weight: 700;
        margin-right: 30px;
        position: relative;
    }
    .hot-word-con .hot-word-line .line-title .iconfont {
        position: absolute;
        top: 0px;
        right: -18px;
    }
    .hot-word-line .line-title .title-text {
        width: 60px;
        overflow: hidden;
        text-align:justify;
        text-align-last: justify;
    }
    .hot-word-line .line-con {
        float: left;
        width: 493px;
    }
    .hot-word-line .line-con a {
        float: left;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        color: #666;
        margin-left: 13px;
    }
    .hot-word-line .line-con .seprate {
        margin-bottom: 10.5px;
        border-bottom-width:1px;
        border-style: dashed;
        border-bottom-color:rgba(0,0,0,.1);
        height: 10.5px;
        clear: both;
    }
    @media (max-width: 1260px) {
       .hot-word-line .line-con {
        float: left;
        width: 418px;
    } 
    }
    .pannel-con .sub-logo-con {  /*tab右侧广告栏*/
        float: left;
        width: 189px;
        height: 480px;
        padding: 10px;
        background-color: #FAFAFA;
    }
    .sub-logo-con .half-logo {
        overflow: hidden;
    }
    .sub-logo-con .half-logo .logo {
        float: left;
        width: 73px;
        margin-right: 1px;
        margin-bottom: 1px;
        height: 37px;
        padding: 5px 10px;
        overflow: hidden;
        background-color: #fff;
    }
    .sub-logo-con .half-logo .logo img {
        display: block;
        width: 73px;
        margin: 0 auto;
    }
    .sub-logo-con .one-logo a {
        display: block;
        margin-top: 10px;
    }
    .sub-logo-con .one-logo a img {
        width: 189px;
        height: 87px;
    }
   @media (max-width: 1260px) {
    .content-con .pannel-con {
        width: 782px;
    }
     .pannel-con .hot-word-con {
        width: 511px;
     }
   }
   .category-con .banner-slider {
        position: absolute;
        top: 0px;
        height:500px;
        width: 100%;
   }
   .banner-slider .slider-content {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
   }
   .banner-slider .slider-content .main-banner {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-color: #e8e8e8;
   }
   .banner-slider .slider-content .main-banner:nth-of-type(1){
        opacity: 1;
   }
   .banner-slider .slider-content .main-banner:nth-of-type(2){
        opacity: 0;
   }
   .banner-slider .slider-content .main-banner:nth-of-type(3){
        opacity: 0;
   }
   .banner-slider .main-banner-outcon {
        width:1230px;
        height: 100%;
        margin: 0 auto;
   }

   @media (max-width: 1260px){
    .banner-slider .main-banner-outcon {
        width:982px;
        height: 100%;
        margin: 0 auto;
   }
   }
   .banner-slider .slider-nav {
        position: relative;
        text-align: center;
        margin: -40px auto 0;
        z-index: 1;
   }
   .banner-slider .slider-nav li {
    display: inline-block;
    background-color: rgba(0,0,0,.3);
    width: 25px;
    height: 5px;
    margin-left: 5px;
    cursor: pointer;
   }
   .banner-slider .slider-nav li.active {
        background-color: rgba(255,255,255,.6);
   }
   .banner-slider .slider-nav li:hover {
    background-color: rgba(255,255,255,.6);
   }
   /*主题内容选项卡+轮播图结束*/

   /*商品展示区域开始*/
    #content .activity-bg {
        position: relative;
        width: 100%;
        background-color: #f5f5f5;
    }
    /*品牌墙*/
    .activity-bg .brandWall {
        margin:auto;
        padding-top: 34px;
        width: 1230px;
        overflow: hidden;
    }

    .activity-bg .brandWall .brandWall-item {
        background-color: #fff;
        width: 485px;
        height: 370px;
        margin-right: 13px;
        float: left;
    }
    .activity-bg .brandWall .first-990 {
        width: 234px;
    }
    .activity-bg .brandWall .last-1230 {
        margin-right: 0;
    }
    .brandWall-item .brandWall-item-head {
        height: 54px;
    }
        .brandWall-item-head .cn {
            line-height:54px;
            font-size: 18px;
            font-weight:700;
            color: #333;
            padding-left: 10px;
        }
        .brandWall-item-head .en {
            font-size: 14px;
            font-weight:700;
            color: #333;
            line-height: 24px;
            height: 44px;
            margin-left: 10px;
        }
        .brandWall-item-head .more {
            float: right;
            line-height: 54px;
            padding-right: 14px;
            color: #666;
            font-size: 16px;
        }
    .brandWall-item .brandWall-item-body {
        display: block;
        height: 316px;
    }
        .brandWall-item-body img {
            width: 100%;
            height: 316px;
        }
        .brandWall-item-body:hover img {
            opacity:0.7;
        }
    @media (max-width: 1260px) {
        .activity-bg .brandWall {
            width: 982px;
        }
        .activity-bg .brandWall .brandWall-item {
            margin-right: 12px;
        }
        .activity-bg .brandWall .last-1230 {
            margin-right: 0;
        }
        .activity-bg .brandWall .first-990 {
            display: none;
        }
    }
    /*品牌内容*/
    .activity-bg .new-hot-brand-con {
        width: 1230px;
        margin:15px auto 0;
    }
    .activity-bg .new-hot-brand-con .module-body {
        height: 327px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .new-hot-brand-con .module-body ul {
        overflow: hidden;
    }
    .new-hot-brand-con .module-body .brand-item {
        width: 122px;
        height: 108px;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        position:relative;
    }
    .brand-item .brand-img {
        margin:0 auto;
        display: block;
        line-height: 108px;
        background-color: #fff;
        text-align: center;
    }
    .brand-item .brand-img img {
        width: 82%;
        height: 50px;
    }
    .brand-item .brand-mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        text-decoration: none;
        opacity: 0;
        transition:all .3s ease-out;
    }
    .brand-item .brand-mask:hover {
        opacity: 1;
    }
    .brand-item .brand-mask .coupon {
        color: #fff;
        text-align: center;
        line-height: 80px;
        height: 60px;
    }
    .brand-item .brand-mask .coupon span {

    }
    .brand-item .brand-mask .enter {
        text-align: center;
        height: 32px;
    }
    .brand-item .brand-mask .enter span {
        color: #fff;
        width: 63px;
        height: 18px;
        font-size: 12px;
        line-height: 15px;
        background-color: #FF0036;
        border-radius: 9px;
        padding: 2px 6px;
    }
    .new-hot-brand-con .module-body .refresh-btn {
        position: absolute;
        right: 1px;
        bottom: 1px;
        width: 122px;
        height: 108px;
        text-align: center;
        color: #999;
        background-color: #fff;
        transition: all .3s ease-out;
        z-index: 2;
    }
    .new-hot-brand-con .module-body .refresh-btn:hover {
        background-color: red;
        color: white;
        opacity: 1;
    }
    .new-hot-brand-con .module-body .refresh-btn .iconfont {
        font-size: 31px;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 38px;
        margin-left: -20px;
        margin-top: -30px;
        transition: all .3s ease-out;
    }
    .new-hot-brand-con .module-body .refresh-btn:hover .iconfont{
        color: #fff;
        transform: rotate(360deg);
    }
    .new-hot-brand-con .module-body .refresh-btn .btn-text {
        display: block;
        line-height: 136px;
        font-size: 14px;
        text-align: center;
    }
    @media (max-width: 1260px) {
        .activity-bg .new-hot-brand-con {
            width:984px;
        }
    }

    /*商品展示*/
    .activity-bg .new-floor-con {
        margin: 20px auto 0;
        width: 1230px;
    }
    .new-floor-con .floor-line-con {
        margin-top: 20px;
        width: 100%;
        height: 665px;
        position: relative;
    }
    .new-floor-con .floor-line-con .color-mark {
        display: inline-block;
        background-color: #EA5F8D;
        width: 5px;
        height: 18px;
        vertical-align: middle;
    }
    .color-type-blue .color-mark {
        background-color:#0AA6E8!important;
    }
    .new-floor-con .floor-line-con .floor-name {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: #000;
        height: 28px;
    }
        .floor-line-con .floor-name .floor-title {
            margin: 0 10px;
            line-height: 28px;
        }
        .floor-line-con .floor-name .floor-title .floor-sub-name {
            display: inline-block;
            font-size: 14px;
            color: #000;
            margin-left: 10px;
            line-height: 24px;
            height: 28px;
        }
    .new-floor-con .floor-line-con .line-body {
        width: 100%;
        height: 618px;
        margin-top: 10px;
        overflow: hidden;
    }
    .floor-line-con .line-body .hot-word-con {
        position: absolute;
        top: 0;
        right: 0;
        width: 800px;
        text-align: right;
    }
        .floor-line-con .line-body .hot-word-con .hot-word {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin:5px 10px;
            font-size: 14px;
            text-decoration: none;
            color: #000;
        }
        .floor-line-con .line-body .hot-word-con .hot-word:hover {
            border-bottom: 1px solid#000;
        }
    .new-floor-con .floor-line-con .line-body .big-banner-con-2 {
        float: left;
        width: 235px;
        height: 618px;
        position: relative;
    }
        .line-body .big-banner-con-2 img {
            display: block;
            height: 618px;
            width: 100%;
            transition: all .3s ease-out;
        }
        .line-body .big-banner-con-2 img:hover {
            opacity: 0.8;
        }
        .line-body .big-banner-con-2 .banner-detail {
            position: absolute;
            bottom: 20%;
            width: 218px;
            height: 64px;
        }
        .line-body .big-banner-con-2 .banner-detail .left-title-wrap {
            background-color: rgba(0,0,0,.6);
            width: 70px;
            height: 64px;
            overflow: hidden;
            color: #fff;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        .line-body .big-banner-con-2 .banner-detail .left-title-wrap span {
            display: inline-block;
            width: 36px;
            font-size: 18px;
            line-height: 24px;
            vertical-align:middle;
        }
        .line-body .big-banner-con-2 .banner-detail .right-title-wrap {
            background-color: rgba(0,0,0,.6);
            position: absolute;
            left: 70px;
            top: 0;
            width: 128px;
            height: 64px;
            color: #fff;
        }
        .line-body .big-banner-con-2 .banner-detail .right-title-wrap .right-title-absolute {
            margin-top: 8px;
            margin-left: 14px;
        }
        .line-body .big-banner-con-2 .banner-detail .right-title-wrap span {
            font-size: 18px;
            line-height: 24px;
        }
        .line-body .big-banner-con-2 .detail-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 60px;
            width: 100%;
        }
        .line-body .big-banner-con-2 .detail-wrap img {
            position: absolute;
            right: 15px;
            bottom: 15px;
            height: 32px;
            width: 32px;
        }
    .line-body .middle-column-con {
        float: left;
        width: 995px;
        height: 618px;
        overflow: hidden;
    }
        .line-body .middle-column-con .grid {
            width: 235px;
            height: 301px;
            margin-left: 13px;
            text-align: center;
            float: left;
            display: block;
            background-color: #fff;
            text-decoration:none;
            margin-bottom: 15px;
        }
        .middle-column-con .grid .floor-item-content-wrap {
            width: 234px;
            height: 280px;
            padding-top: 20px;
            border:1px solid#fff;
        }
        .middle-column-con .grid .floor-item-content-wrap:hover {
            border:1px solid#EA5F8D;
        }
        .middle-column-con .grid img {
            width: 185px;
            height: 185px;
        }
        .middle-column-con .grid .floor-item-content-wrap:hover img {
            opacity: 0.6;
        }
        .middle-column-con .grid .floor-item-title {
            width: 135px;
            height: 40px;
            font-size: 14px;
            color: #333;
            line-height: 20px;
            margin: 8px auto;
            overflow: hidden;
        }
        .middle-column-con .grid .floor-price {
            font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            margin: 10px auto;
        }
    @media (max-width: 1260px) {
        .activity-bg .new-floor-con {
            width: 982px;
        }
        .line-body .middle-column-con {
            width: 746px;
        }
    }

    /*猜你喜欢*/
    #content .wonderful-con {
        margin: 0px auto;
        padding-top: 30px;
        width: 1230px;
    }
    .wonderful-con h2 {
        color: #666;
        text-align: center;
        font-weight: 100;
        height: 43px;
    }
    .wonderful-con h2 .text-ctn {
        display: inline-block;
        font-size: 18px;
        line-height: 20px;
        position: relative;
    }
    .wonderful-con h2 .text-ctn:before,.wonderful-con h2 .text-ctn:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: #979797;
        top: 10px;
    }
    .wonderful-con h2 .text-ctn:before {
        left: -38px;
    }
    .wonderful-con h2 .text-ctn:after {
        right: -38px;
    }
    .wonderful-con h2 .text-ctn .iconfont {
        font-size: 20px;
        color: #ff0036;
        margin-right: 4px;
    }
    .wonderful-con .wonderful-line {
        height: 333px;
        overflow: hidden;
    }
    .wonderful-con .wonderful-line .wonderful-item {
        float: left;
        width: 235px;
        margin-right:12px;
        margin-bottom: 7px;
    }
    .wonderful-con .wonderful-line .wonderful-item:last-child{
        margin-right: 0px;
    }
    .wonderful-con .wonderful-line .wonderful-item a {
        display: block;
        border: 2px solid #fff;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        margin-right: 7px;
        margin-bottom: 7px;
        width: 100%;
        height: 315px;
        text-decoration: none;
        color: #666;
        border: 1px solid#fff;
    }
    .wonderful-con .wonderful-line .wonderful-item a:hover {
        border:1px solid red;
    }
    .wonderful-con .wonderful-line .wonderful-item a img {
        display: block;
        width: 185px;
        height: 185px;
        margin: 20px auto;
    }
    .wonderful-con .wonderful-line .wonderful-item .item-info {
        padding: 0px 12px 8px;
        text-align: center;
        font-size: 14px;
    }
    .wonderful-line .wonderful-item .item-info .item-desc {
        margin: 8px auto;
        display: block;
        width: 135px;
        height: 40px;
        line-height: 20px;
        overflow: hidden;
    }
    .wonderful-line .wonderful-item .item-info .item-detail {
        color: #ff0036;
        line-height: 20px;
    }
    @media (max-width: 1260px) {
        #content .wonderful-con {
            width: 982px;
        }
         .wonderful-con .wonderful-line {
            height: 299px;
        }
        .wonderful-con .wonderful-line .wonderful-item {
            width: 187px;
            margin-right:11px;
        }
    }
    #content .tm-end {
        width: 80px;
        height: 45px;
        margin: 10px auto;
        background-size: cover;
        z-index: 9;
        background:url("../image/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png") no-repeat;
    }
    /*商品展示区域结束*/
    /*脚部区域样式开始*/
    #foot {
        width: 100%;
    }
    #foot .tmall-ensure {
        width: 1190px;
        height: 100px;
        background:url("../image/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg") no-repeat;
        margin: 25px auto;
    }
    #foot .tmall-desc {
        width: 1190px;
        padding-top: 22px;
        height: 190px;
        margin: auto;
        border-top: 1px solid #ededed;
    }
     #foot .tmall-desc dl {
        float: left;
        width: 186px;
        padding-left: 52px;
    }
    #foot .tmall-desc dl dt {
        color: #646464;
        font-size: 16px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        text-align: left;
    }
    #foot .tmall-desc dl a {
        display: block;
        width: 100px;
        overflow: hidden;
        text-align: left;
        height: 20px;
        line-height: 20px;
        color: #8b8b8b;
        text-decoration: none;
    }
    #foot .tmall-copyright {
        border-top: 2px solid #FF0036;
        background: #000;
        text-align: left;
        height: 30px;
    }
    #foot .tmall-copyright .footer-tmallinfo {
        width: 1190px;
        margin: 0 auto;
        line-height: 25px;
        text-align: center;
    }
    .tmall-copyright .footer-tmallinfo p {
        display: inline-block;
        color: #fff;
    }
    .tmall-copyright .footer-tmallinfo p span {
        margin: 0 6px;
    }
    .tmall-copyright .footer-tmallinfo a {
        color: #fff;
        text-decoration: none;
    }
    @media (max-width: 1210px) {
        #foot .tmall-ensure {
            width: 990px;
            background:url("../image/TB1I8svRXXXXXcUXpXXXXXXXXXX-990-100.jpg");
        }
        #foot .tmall-desc {
            width: 990px;
        }
        #foot .tmall-desc dl {
            float: left;
            width: 200px;
            padding-left: 15px;
        }
        #foot .tmall-copyright .footer-tmallinfo {
            width: 990px;
        }
        #mobile {
            width: 110px!important;
        }
    }