
/*右侧导航样式开始*/
#rightSlide {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 35px;
    z-index: 3;
    /*animation:shopShow 0.6s;*/
    /*animation-fill-mode:forwards;*/
}

#rightNav {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 35px;
    background-color: black;
    z-index: 3;
}
#rightCon {
    position: absolute;
    left: 35px;
    height: 100%;
    width: 280px;
    padding-right: 35px;
    background-color: #e6e6e6;
}
/*购物车开始*/
#rightCon .shopCar {
    height: 100%;
    width: 100%;
    color: gray;
}
#rightCon .shopCar .tm-mcTop {
    position: relative;
    width: 272px;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    background-color: #e6e6e6;
}
#rightCon .shopCar .tm-mcChk {
    width: 23px;
    text-align: center;
    float: left;
}
.shopCar .tm-mcChk input {
    vertical-align: middle;
}
#rightCon .shopCar .tm-mcTop label {
    display: inline-block;
    line-height: 28px;
    float: left;
    font-size: 12px;
}
#rightCon .tm-mclistDiv {
    position: fixed;
    top: 28px;
    bottom: 85px;
    width: 280px;
    overflow: auto;
}
/*定义滚动条样式*/
#rightCon .tm-mclistDiv::-webkit-scrollbar{
    width: 5px;
}
#rightCon .tm-mclistDiv::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #616161;
}
#rightCon .tm-mcList {
   
}
#rightCon .tm-mcList .tm-mcBundle {
    padding:0 8px;
    background-color: #fff;
    font-size: 12px;
}
#rightCon li+li{
    margin-top: 16px;
}
#rightCon .tm-mcList .tm-mcBundleHeader {
    overflow: hidden;
}
#rightCon .tm-mcBundleHeader .tm-mcChk {
    padding-top: 5px;
}
#rightCon .tm-mcBundleHeader .tm-mcTitle {
    float: left;
    border-bottom: 1px solid #e6e6e6;
    width: 143px;
    padding:5px 0 5px 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url("../image/longxia.png") no-repeat 0 6px;
}
#rightCon .tm-mcBundleHeader .tm-mcCost {
    width: 61px;
    float: left;
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
    text-align: right;
}
#rightCon .tm-mcList .tm-mcBundleList {
    overflow: hidden;
}
#rightCon .tm-mcBundleList .tm-mcChk {
    padding-top: 20px;
}
#rightCon .tm-mcBundleList .tm-mcItem {
    width: 50px;
    padding-right: 5px;
    float: left;
}
#rightCon .tm-mcBundleList .tm-mcItem a {
    display: block;
    width: 50px;
    height: 50px;
    margin:5px 0px;
    overflow: hidden;
}
#rightCon .tm-mcBundleList .tm-mcSku {
    float: left;
    width: 54px;
    color: #999;
    text-align: left;
    padding: 13px 2px 0 0;
}
#rightCon .tm-mcBundleList .tm-mcSku  p {
    height: 18px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#rightCon .tm-mcBundleList .tm-mcAmount {
    width: 60px;
    text-align: center;
    float: left;
}
#rightCon .tm-mcBundleList .tm-mcAmount a {
    display: inline-block;
    height: 14px;
    width: 14px;
    line-height: 14px;
    margin-top: 21px;
    border-radius: 14px;
    vertical-align: middle;
    border: 1px solid #bfbfbf;
    position: relative;
    cursor: pointer;
    visibility: hidden;
}
#rightCon .tm-mcList .tm-mcBundle:hover a {
    visibility: visible;
}
#rightCon .tm-mcBundleList a:hover {
    background-color:#bfbfbf;
}
#rightCon .tm-mcBundleList a:hover s,#rightCon .tm-mcBundleList a:hover b{
    background-color: #fff;
}
#rightCon .tm-mcBundleList a s,#rightCon .tm-mcBundleList a  b{
    position: absolute;
    overflow: hidden;
    background-color: #bfbfbf;
}
#rightCon .tm-mcBundleList a  s {
    width: 8px;
    height: 2px;
    top: 6px;
    left: 3px;
}
#rightCon .tm-mcBundleList a b {
    width: 2px;
    height: 8px;
    top: 3px;
    left: 6px;
}
#rightCon .tm-mcBundleList .tm-mcAmount span {
    padding: 0 4px;
    color: #999;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 21px;
    vertical-align: middle;
}
#rightCon .tm-mcBundleList .tm-mcCost {
    width: 61px;
    float: left;
    text-align: right;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
#rightCon .tm-mcBundleList .tm-mcCost .tm-mcDel {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    top: 3px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #bfbfbf;
    visibility: hidden;
}
#rightCon .tm-mcBundleList .tm-mcCost .tm-mcDel s,#rightCon .tm-mcBundleList .tm-mcCost .tm-mcDel b {
    transform: rotate(45deg);
}
#rightCon .tm-mcBundleList .tm-mcCost strong {
    display: block;
    padding-top: 19px;
    height: 18px;
    line-height: 18px;
    color: #666;
    font-weight: 400;
}
#rightCon .tm-mcHandler {
    position: fixed;
    bottom: 0;
    width: 280px;
    padding-bottom: 15px;
}
#rightCon .tm-mcHandler .tm-mcTotal {
    width: 248px;
    height: 30px;
    line-height: 30px;
    background-color: #e6e6e6;
    padding: 0;
    color: #333;
    overflow: hidden;
    margin: 0 auto;
}
#rightCon .tm-mcHandler .tm-mcTotal h3 {
    float: left;
    width: 100px;
    height: 30px;
    color: #000;
    font-weight: 400;
}
#rightCon .tm-mcHandler .tm-mcTotal .tm-mcTotalFeeWrap {
    float: left;
    width: 148px;
    height: 30px;
    text-align: right;
    color: #ff0036;
    font-weight: 400;
}
#rightCon .tm-mcHandler .tm-mcCashier {
    width: 248px;
    height: 40px;
    line-height: 40px;
    background-color: #ff0036;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
#rightCon .tm-mcHandler .tm-mcCashier span {
    margin-left: 4px;
}
/*购物车结束*/

#rightNav ul {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

#rightNav ul li {
    position: absolute;
    width: 35px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    line-height: 35px;
    background-color: #000;
}
#rightNav ul li:nth-child(1){
    top: 30%;
}
#rightNav ul li:nth-child(2){
    top: 35%;
}
#rightNav ul li:nth-child(3){
    top: 40%;
}
#rightNav ul li:nth-child(4){
    top: 45%;
}
#rightNav ul li:nth-child(5){
    top: 50%;
}
#rightNav ul li:nth-child(6){
    top: 55%;
}
#rightNav ul li:nth-child(7){
    bottom: 0;
}
@media(max-width: 1221px){
   #rightSlide {
        animation: hidden 0.3s;
        animation-fill-mode:forwards;
   }
   #rightNav ul li:nth-child(2),#rightNav ul li:nth-child(7){
        animation:block 0.3s;
        animation-fill-mode:forwards;
    }
}
@keyframes move {
    from {opacity: 0;transform: translateX(0px)}
    to {opacity: 1;transform: translateX(35px)}
}
@keyframes leave {
    from {opacity: 1;transform: translateX(35px)}
    to {opacity: 0;transform: translateX(0px)}
}
@keyframes hidden {
    from {transform: translateX(0px)}
    to {transform: translateX(35px)}
}
@keyframes block {
    from {transform: translateX(0px)}
    to {transform: translateX(-35px)}
}
@keyframes shopShow{
    from{transform: translateX(0px)}
    to {transform: translateX(-280px)}
}
@keyframes shopHidden{
    from{transform: translateX(-280px)}
    to {transform: translateX(0px)}
}
@keyframes shopHidden2{
    from{transform: translateX(-280px)}
    to {transform: translateX(35px)}
}
#rightNav ul li .navigationInto {
    position: absolute;
    top: 0;
    right: 70px;
    width: 90px;
    height: 35px;
    opacity: 1;
    display: none;
    line-height: 35px;
    background-color: #494949;
}
#rightNav ul li .navigationIntoArr {
    position: absolute;
    top: 8px;
    right: -7px;
    width: 16px;
    height: 16px;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    color: #494949;
}
#rightNav ul li:hover {
    background-color: red;
}
#rightNav ul li:hover .navigationInto {
    display: block;
    animation: move .6s;
    animation-fill-mode: forwards;
}
#rightNav ul li .iconfont {
    font-size: 22px;
}
/*右侧导航样式结束*/

/*头部导航栏开始*/
#site-nav {
    position: relative;
    width: 100%;
    height: 34px;
    background-color: #f2f2f2;
    border:1px solid #e5e5e5;
    color: #999;
}
.sn-bd {
    position: relative;
    width: 1230px;
    height: 32px;
    margin: auto;
    line-height: 32px;
}
@media (max-width: 1260px){
    .sn-bd{
        width:982px;
    }
}
.sn-bd p {
    float: left;
}
.logo-info a{
    padding: 0 10px;
}
.logo-info a:hover {
    color: red;
}
.sn-bd ul {
    float: right;
}
.sn-bd ul li {
    position: relative;
    float: left;
}

.sn-menu .spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.sn-menu li a {
    display: block;
    position: relative;
    padding: 0 7px;
}
.sn-menu a:hover {
    color: red;
}
.sn-menu i {
    display: block;
    height: 32px;
    position: relative;
    padding: 0 7px;
    z-index: 1;
}

.sn-bd i:hover b{
    transition: transform .4s;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
}
.sn-menu b {
    position: absolute;
    right: 0px;
    top: 14px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.dropdown:hover{
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
.dropdown:hover .dropdown-layer {
    display: block;
}
.dropdown .ddserv{
    right: 0px;
    width: 170px;
    padding: 10px 0;
}
.dropdown .ddnav{
    right: -84px;
    width: 1188px;
    padding: 15px 0;
}
.dropdown .dropdown-layer {
    position: absolute;
    line-height: 24px;
    border:1px solid#ccc;
    display: none;
    z-index: 1;
    background-color: #fff;
}
.dropdown-layer .item-client {
    padding-left: 15px;
    font-weight: 700;
    color: #666;
}
.dropdown-layer .item-business {
    padding-left: 15px;
    font-weight: 700;
    color: #666;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #eee;
}
.dropdown-layer .item {
    display: inline-block;
    width: 70px;
    color: #999;
    font-size: 12px;
    padding-left: 10px;
}
.dropdown dl {
    float: left;
    padding-left: 20px;
}
.dropdown dl+dl {
    border-left:1px dashed #eee;
}
.dropdown dl dt {
    margin-bottom: 5px;
    font-weight: 700;
    padding-left:7px;
    color: #666;
}
.dropdown dl dd {
    float: left;
    width: 80px;
}
.dropdown .fore1 {
    width: 340px;
}
.dropdown .fore2 {
    width: 255px;
}
.dropdown .fore3 {
    width: 255px;
}
.dropdown .fore4 {
    width: 255px;
}
@media (max-width: 1260px) {
    .dropdown .ddnav{
        width: 988px;
    }
    .dropdown .fore1 {
        width: 300px;
    }
    .dropdown .fore2 {
        width: 200px;
    }
    .dropdown .fore3 {
        width: 200px;
    }
    .dropdown .fore4 {
        width: 200px;
    }
}
/*头部导航栏结束*/

 /*脚部区域样式开始*/
    #foot {
        width: 100%;
    }
    #foot .tmall-ensure {
        width: 1190px;
        height: 100px;
        background:url("../image/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg") no-repeat;
        margin: 25px auto;
    }
    #foot .tmall-desc {
        width: 1190px;
        padding-top: 22px;
        height: 190px;
        margin: auto;
        border-top: 1px solid #ededed;
    }
     #foot .tmall-desc dl {
        float: left;
        width: 186px;
        padding-left: 52px;
    }
    #foot .tmall-desc dl dt {
        color: #646464;
        font-size: 16px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        text-align: left;
    }
    #foot .tmall-desc dl a {
        display: block;
        width: 100px;
        overflow: hidden;
        text-align: left;
        height: 20px;
        line-height: 20px;
        color: #8b8b8b;
        text-decoration: none;
    }
    #foot .tmall-copyright {
        border-top: 2px solid #FF0036;
        background: #000;
        text-align: left;
        height: 30px;
    }
    #foot .tmall-copyright .footer-tmallinfo {
        width: 1190px;
        margin: 0 auto;
        line-height: 25px;
        text-align: center;
    }
    .tmall-copyright .footer-tmallinfo p {
        display: inline-block;
        color: #fff;
    }
    .tmall-copyright .footer-tmallinfo p span {
        margin: 0 6px;
    }
    .tmall-copyright .footer-tmallinfo a {
        color: #fff;
        text-decoration: none;
    }
    @media (max-width: 1210px) {
        #foot .tmall-ensure {
            width: 990px;
            background:url("../image/TB1I8svRXXXXXcUXpXXXXXXXXXX-990-100.jpg");
        }
        #foot .tmall-desc {
            width: 990px;
        }
        #foot .tmall-desc dl {
            float: left;
            width: 200px;
            padding-left: 15px;
        }
        #foot .tmall-copyright .footer-tmallinfo {
            width: 990px;
        }
        #mobile {
            width: 110px!important;
        }
    }
    /* 脚部样式结束*/

    /*搜索样式开始*/
    #search {
        min-width: 990px;
        background-color: #fff;
    }
    #search .search-head {
        width: 1190px;
        margin: 0 auto;
        /*overflow: hidden;*/
    }
    #search .search-head h1 {
        float: left;
        width: 280px;
        height: 84px;
    }
    #search .search-head .mlogo {
        display: block;
        height: 84px;
        width: 190px;
        overflow: hidden;
        background:url(../image/xiagaologo.png) no-repeat;
    }
    #search .search-head .header-extra {
        display: inline-block;
        
        margin-top: 26px;
    }
    #mallSearch {
        width: 597px;
        position: relative;
    }
    #mallSearch .mallSearch-input{
        height: 30px;
        background-color: #fff;
        border: solid #FF0036;
        border-width: 3px 0 3px 3px;
    }
    #mallSearch .mallSearch-input input {
        width: 496px;
        height: 20px;
        line-height: 20px;
        padding: 5px 3px 5px 5px;
        font-weight: 900;
        color: #000;
    }
    #mallSearch .mallSearch-input button {
        width: 90px;
        border: 0;
        font-size: 16px;
        letter-spacing: 4px;
        cursor: pointer;
        color: #fff;
        background-color: #FF0036;
        height: 30px;
        overflow: hidden;
        float: right;
    }
    /*搜索框样式*/
    .search-lenovo {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        border:1px solid#ddd;
        border-top:none;
        z-index: 10;
        display: none;
        background-color: #fff;
    }
    .search-lenovo li {
        width: 100%;
        height: 32px;
        line-height: 32px;
    }
    .search-lenovo li span {
        float: right;
        padding-right: 10px;
        color: #666;
    }
    .search-lenovo li a{
        color: #000;
    }
    .search-lenovo li:hover {
        background-color: red;
    }
    .search-lenovo li:hover a,.search-lenovo li:hover span {
        color: #fff;
    }
    /*搜索框样式结束*/
    #search .search-head .header-extra .relKeyTop {
        width: 597px;
        padding: 4px 0 0;
        margin-left: -13px;
        height: 16px;
        overflow: hidden;
    }
    #search .search-head .header-extra .relKeyTop li{
        display: inline-block;
        border-left: 1px solid #ccc;
        line-height: 1.1;
        padding: 0 12px;
    }
    #search .search-head .header-extra .relKeyTop li:first-child{
        border-left: none;
    }
    .relKeyTop li a {
        color: #999;
        text-decoration:none;
    }
    .relKeyTop li a:hover {
        color: #f40;
    }
    @media (max-width: 1210px) {
        #search .search-head {
            width: 990px;
        }
        #mallSearch,#search .search-head .header-extra .relKeyTop{
            width: 448px;
        }
        #mallSearch .mallSearch-input input {
            width: 347px;
        }
    }

    /*搜索样式结束*/

    /*主体内容*/
    #content {
        width: 100%;
    }
        #content .main {
            margin: 0 auto;
            width: 1190px
        }
        @media  (max-width: 1210px) {
            #content .main {
                width:990px;
            }
        }
        /*内容导航*/
        #content .main .crumb {
            padding-bottom: 8px;
            height: 38px;
            background-color: #fff;
        }
        #content .main .crumb .crumbCon {
            height: 100%;
            margin: 0 auto;
            line-height: 27px;
            border-top: 1px solid #e5e5e5;
            position: relative;
        }
        #content .main .crumb .crumbCon .crumbSlide {
            height: 100%;
            margin: 3px 180px 0 25px;
        }
        #content .main .crumb .crumbCon .crumbSlide .crumbSlideUl>li {
            float: left;
            margin-right: 10px;
            font-size: 12px;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop {
            display: inline-block;
            border:1px dashed #ddd;
            position: relative;
            padding: 0 8px;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop .crumbDrop-bd {
            position: absolute;
            top: 30px;
            left: 0;
            background-color: rgba(0,0,0,.8);
            width: 870.5px;
            border:1px solid #dbdbdb;
            border-radius:3px;
            padding-top:14px;
            padding-bottom: 5px;
            display: none;
            z-index: 1;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop:hover {
             border:1px dashed red;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop:hover b {
            transform: rotate(180deg);
            transition:transform .4s;
            transform-origin:50% 30%;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop:hover .crumbDrop-bd {
            display: block;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop .crumbDrop-bd ul {
            float: left;
            border-left: 1px dashed #d5d5d5;
            margin-left: -1px;
            height: 132px;
            margin-bottom: 15px;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop .crumbDrop-bd ul li {
            float: none;
            padding: 0 20px 0 16px;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop .crumbDrop-bd ul li a {
            color: #fff;
            display: block;
            width: 102px;
            height: 22px;
            line-height: 22px;
            text-indent:5px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop .crumbDrop-bd ul li a:hover {
            color: red;
        }
        .crumb .crumbCon .crumbSlide .crumbDrop b {
            position: absolute;
            right: 0px;
            top: 13px;
            width: 0;
            height: 0;
            border-width: 3px;
            border-style: solid dashed dashed;
            border-color: #bbb transparent transparent;
            font-size: 0;
            line-height: 0;
        }
        .crumb .crumbCon .crumbSlide .ar-fd-find {
            display: block;
            width: 170px;
            height: 24px;
            background-image: url(../image/faxian.jfif);
        }
        .crumb .crumbCon .crumbTitle {
            position: absolute;
            right: 10px;
            top: 7px;
            color: #999;
            line-height: 22px;
            font-size: 12px;
        }
        /*内容品牌区*/
        #J_NavAttrsForm {
            position: relative;
            border-top: 1px solid #E6E2E1;
            padding-bottom: 8px;
            margin-bottom: 34px;
            background-color: rgb(239,235,234);
        }
        #J_NavAttrsForm .attrKey {
            width: 10%;
            padding-top: 9px;
            height: 16px;
            line-height: 16px;
            float: left;
            text-indent:13px;
            color: #B0A59F;
        }
        #J_NavAttrsForm .attrValues {
            float: left;
            width: 90%;
            padding-top: 6px;
            position: relative;
            background-color: #fff;
        }
        #J_NavAttrsForm .attrValues .av-options {
            position: absolute;
            top: 4px;
            right: 0px;
            width: 105px;
        }
        #J_NavAttrsForm .attrValues .av-options a {
            height: 25px;
            line-height: 25px;
            color: #806f66;
            float: right;
            padding-right: 6px;
        }
        #J_NavAttrsForm .brandAttr {
            border: 2px solid#D1CCC7;
        }
        
        #J_NavAttrsForm .brandAttr .attrValues .row-2 {
            margin:0 105px 5px 25px;
            padding-top: 1px;
        }
        .brandAttr .av-collapse {
            max-height: 106px;
            overflow: hidden;
        }
        .cateAttrs .av-collapse {
            max-height: 58px;
            overflow: hidden;
        }
        .av-expand{
            height: auto;
        }
        .av-scroll {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 265px;
        }
        #J_NavAttrsForm .brandAttr .attrValues .row-2::-webkit-scrollbar {
            width: 5px;
        }
        #J_NavAttrsForm .brandAttr .attrValues .row-2::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: #616161;
        }
        #J_NavAttrsForm .brandAttr .attrValues .row-2>li {
            border: 1px solid #e1e1e1;
            width: 104px;
            text-align: center;
            height: 52px;
            line-height: 52px;
            overflow: hidden;
            float: left;
            margin: -1px -1px 0 0;
        }
        #J_NavAttrsForm .brandAttr .attrValues .row-2>li a {
            padding: 0;
            line-height: 52px;
            height: 50px;
            width: 102px;
            overflow: hidden;
            border: 1px solid transparent;
            display: block;
            color: red;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #J_NavAttrsForm .brandAttr .attrValues .row-2>li a:hover {
            border:1px solid red;
        }
        .attrValues .row-2>li a img {
            width: 80px;
            height: 40px;
            margin:6px 12px;
            float: left;
        }
        #J_NavAttrsForm .cateAttrs {
            border-left: 1px solid#E6E2E1;
            border-right: 1px solid#E6E2E1;
        }
        #J_NavAttrsForm .cateAttrs .av-collapse-kind {
            margin-left: 25px;
            margin-right: 50px;
        }
        #J_NavAttrsForm .cateAttrs .av-collapse-kind li {
            float: left;
            margin: 0 5px 8px 0;
            width: 180px;
            overflow: hidden;
        }
        #J_NavAttrsForm .av-collapse-kind li a {
            position: relative;
            color: #806F66;
            display: inline-block;
            padding: 1px 20px 1px 4px;
            line-height: 20px;
            height: 20px;
            white-space: nowrap;
        }
        #J_NavAttrsForm .av-collapse-kind li a:hover {
            color: red;
        }
        #J_NavAttrsForm .brandAttr .attrValues .av-collapse>li a:hover img {
            display: none;
        }
        
        #J_NavAttrsForm .attrExtra-more {
            position: absolute;
            right: 0;
            bottom: -24px;
            padding: 3px 10px;
            height: 18px;
            line-height: 18px;
            background-color: rgb(239,235,234);
            cursor: pointer;
        }
        #J_NavAttrsForm .propAttrs {
            border-top: 1px solid #D1CCC7;
        }
        #J_NavAttrsForm .propAttrs .attr {
            background-color: #F7F5F5;
            border-color: #E6E2E1 #E6E2E1 #D1CCC7;
            border-style: solid solid dotted;
            border-width: 0 1px 1px;
        }
        #J_NavAttrsForm .propAttrs .av-collapse-kind {
            height: 25px;
            margin: 0 105px 0 25px
        }
        #J_NavAttrsForm .propAttrs .av-collapse-kind li {
            float: left;
            margin: 0 25px 10px 0;
            overflow: hidden;
        }
        #J_NavAttrsForm .propAttrs .j_MoreAttrsCont {
            display: none;
        }
        @media (max-width: 1121px){
            #content .main {
                width: 990px
            }
            .crumb .crumbCon .crumbSlide .crumbDrop .crumbDrop-bd {
                width: 730px;
            }
        }

        /*内容过滤器样式*/
        #content .main .filter {
            margin: 0px 0 10px;
            padding: 5px;
            position: relative;
            z-index: 2;
            background: #faf9f9;
            color: #806f66;
            font-size: 0;
        }
        #content .main .filter a.active {
            color: red;
        }
        #content .main .filter>a {
            border:1px solid#ccc;
            display: inline-block;
            margin-left: -1px;
            overflow: hidden;
            padding: 0 15px 0 5px;
            height: 21px;
            line-height: 20px;
            font-size: 12px;
            position: relative;
            float: left;
            color: #666;
        }
        #content .main .filter>a.active {
            color: red;
        }
        #content .main .filter a:hover {
            color: red;
        }
        #content .main .filter .xiala {
            font-size: 12px;
        }
        #content .main .filter>a .iconfont{
            font-size: 12px;
            position: absolute;
            top:1px;
        }
        #content .main .filter>a span.shang {
            top: -2px;
            right: 2px;
        }
        #content .main .filter>a span.xia {
            top: 4px;
            right: 2px;
        }
        #content .main .filter .city {
            width: 113px;
            float: left;
            font-size: 12px;
            height: 21px;
            line-height: 22px;
            border: 1px solid#ccc;
            margin:0 5px;
            position: relative;
        }
        #content .main .filter .city .fA-label {
            text-decoration: none;
            background-color: #F7F5F5;
            position: absolute;
            padding-left: 4px;
            height: 100%;
            line-height: 22px;
            color: #B0A59F;
        }
        #content .main .filter .city .fA-text {
            display: inline-block;
            height: 100%;
            margin-left: 52px;
            width: 54px;
            text-align: center;
        }
        #content .main .filter .city .f-ico-triangle-rb {
            position: absolute;
            border: 3px dashed transparent;
            border-right: 3px solid #806F66;
            border-bottom: 3px solid #806F66;
            line-height: 0;
            height: 0;
            width: 0;
            bottom: 2px;
            right: 2px;
        }
        #content .main .filter .fMenu {
            width: 255px;
            margin-right: 5px;
            height:21px;
            line-height: 21px;
            float: left; 
            font-size: 12px;
            position: relative;
        }
        #content .main .filter .fMenu .fMenu-con {
            position: absolute;
            width: 100%;
            background-color: #fff;
            border:1px solid #ddd;
            overflow: hidden;
        }
        #content .main .filter .fMenu .fMenu-collapse{
            height: 21px;
        }
        #content .main .filter .fMenu .fMenu-expand {
            height: auto;
        }
        #content .main .filter .fMenu a {
            float: right;
            display: inline-block;
            height: 22px;
            color: #000;
        }
        #content .main .filter .fMenu a:hover{
            color: red;
        }
        #content .main .filter .fMenu a .iconfont {
            font-size: 12px;
        }
        #content .main .filter .fMenu label {
            display: inline-block;
            height: 21px;
            line-height: 21px;
            float: left;
            text-indent:5px;
        }
        #content .main .filter .fMenu input {
            margin-right: 3px;
            vertical-align: middle;
        }
        #content .main .filter .ui-page-s {
            float: right;
            font-size: 12px;
        }
        #content .main .filter .ui-page-s b {
            height: 22px;
            line-height: 22px;
            font-weight: 400;
        }
        #content .main .filter .ui-page-s a {
            width: 19px;
            padding: 4px 2px 2px;
            line-height: 1;
            font-weight: 700;
            font-size: 12px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #E5E5E5;
        }
        /*大图商品展示*/
        #content .main .view {
            width: 1210px;
            margin:auto;
        }
        .productHide {
            display: none
        }
        #content .view .product {
            width: 220px;
            height: 372px;
            position: relative;
            float: left;
            padding: 0;
            margin-right: 20px;
            margin-bottom:20px;
            line-height: 1.5;
            overflow: visible;
            z-index: 1;
        }
        #content .view .product .product-iWrap {
            min-height: 98%;
            width: 210px;
            position: absolute;
            padding:4px 4px 0;
            background-color:#fff;
            border: 1px solid #f5f5f5;
            border-radius: 3px;
        }
        #content .view .product .product-iWrap:hover {
            
            margin: -2px;
            border: 3px solid red;
            border-radius: 0;
            -webkit-transition: border-color .2s ease-in;
            -moz-transition: border-color .2s ease-in;
            -ms-transition: border-color .2s ease-in;
            -o-transition: border-color .2s ease-in;
            transition: border-color .2s ease-in;
        }
        .product .product-iWrap .productImg-wrap {
            height: 210px;
            width: 100%;
            margin-bottom: 5px;
            position: relative;
        }
        .product .product-iWrap .productImg-wrap img {
            width: 100%;
            max-height: 210px;
        }
        .product .product-iWrap .productThumb {
            position: relative;
            margin-bottom: 5px;
        }
        .product .product-iWrap .productThumb a {
            font: 700 12px/15px \5b8b\4f53,Hei;
            float: left;
            height: 14px;
            width: 14px;
            background-color: #b8b2b1;
            border-radius: 50%;
            color: #fff;
            margin-top: 14px;
            font-size: 14px;
            text-align: center;
        }
        .product .product-iWrap .productThumb a:hover {
            background-color: red;
        }
        .product .product-iWrap .productThumb a.proThumb-prev {
            margin-left:-5px;
        }
        .product .product-iWrap .productThumb .proThumb-wrap {
            float: left;
            width: 185px;
            height: 34px;
            padding-top: 5px;
            overflow: hidden;
        }
        .productThumb .proThumb-wrap .ks-switchable-content {
            width: 999999px;
        }
        .productThumb .proThumb-wrap .ks-switchable-content b {
            float: left;
            height: 30px;
            width: 30px;
            margin-right: 3px;
            padding: 1px;
            font-size: 0;
            text-align: center;
            border: 1px solid #CCC;
            cursor: pointer;
        }
        .productThumb .proThumb-wrap .ks-switchable-content b.proThumb-selected {
            border: 2px solid #CD0000;
            padding: 0;
            position: relative;
        }
        b.proThumb-selected i {
            height: 0;
            left: 10px;
            overflow: hidden;
            position: absolute;
            top: -10px;
            width: 0;
            line-height: 0;
            font-size: 1px;
            border-width: 4px;
            border-color: #fff #fff #CD0000;
            border-style: solid;
        }
        .productThumb .proThumb-wrap .ks-switchable-content b img {
            max-height: 30px;
            max-width: 30px;
        }
        .view .product  .productPrice {
            font-size: 18px;
            color: red;
        }
        .view .product  .productPrice span {
            font-size: 14px;
            margin-right: 2px;
        }
        .view .product  .productTitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            .product .productTitle a {
            color: #333;
        }
        .view .product  .productShop {
            text-decoration:underline;
            font-size: 12px;
            margin-bottom: 5px;
            height: 22px;
            line-height: 22px;
        }
            .product  .productShop a {
                color: #888;
            }
        .product .productTitle a:hover,.product  .productShop a:hover {
            color: red;
            text-decoration: underline;
        }
        .view .product  .productStatus {
            border-top: 1px solid #eee;
            height: 32px;
            font-size: 12px;
        }
        .view .product  .productStatus em {
            color: #b57c5b;
            font-weight: 700;
        }
        .view .product  .productStatus span {
            padding: 5px 1px;
            display: inline-block;
            width: 39%;
            border-right: 1px solid#eee;
            line-height: 12px;
        }
        .view .product  .productStatus span.small {
            border-right: none;
            width: 9%;
            text-align: center;
        }
        .view .product  .productStatus span.small a {
            display: inline-block;
            background:url(../image/wangwang.png) no-repeat center center;
            background-size: 16px;
            width: 16px;
            height: 16px;
        }
        @media (max-width: 1210px){
            #content .main .view {
                width: 1023px;
            }
            #content .view .product {
                margin-right: 33px
            }
        }
         /*大图商品展示结束*/

        /*店铺展示*/
        #content .shopCon {
            background-color: #fff;
            padding-bottom: 10px;
            border-bottom: 1px solid #E6E2E1
        }
        .shopCon .shop-head {
            height: 115px;
        }
        .shopCon .shop-head .shopHead-logo {
            float: left;
            width: 80px;
            height: 80px;
            padding: 18px 35px 20px 15px;
        }
        .shopCon .shop-head .shopHead-info {
            width: 380px;
            height: 81px;
            color: #595959;
            float: left;
            margin-top: 15px;
        }
            .shop-head .shopHead-info a.sHi-title {
                float: left;
                display: inline-block;
                height: 21px;
                line-height: 21px;
                margin-right: 5px;
                font-size: 14px;
                color: #806f66;
                font-weight: bolder;
            }
            .shop-head .shopHead-info b.flagship-icon {
                float: left;
                font-size: 13px;
                background-color: #EFECEB;
                padding:4px 3px;
                border-radius: 2px;
                color: gray;
            }
            .shop-head .shopHead-info p {
                clear: both;
                width: 230px;
                height: 22px;
                line-height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        .shopCon .shop-head .shopHead-dsr {
            padding: 0 50px;
            float: left;
            margin-top: 15px;
            width: 200px;
            height: 81px;
            font-size: 12px;
        }
            .shop-head .shopHead-dsr .shopDsr-title {
                color: #666;
                height: 20px;
                font-weight: 700;
            }
            .shop-head .shopHead-dsr .shopDsr-title span {
                margin-left: 20px;
            }
            .shop-head .shopHead-dsr .shopDsr-con li{
                color: #666;
                height: 22px;
                line-height: 22px;
            }
            .shopDsr-con li .sDc-num {
                color: #407e8f;
                font-weight: 700;
            }
            .shopDsr-con li .sDc-high {
                color: #ff0036;
                font-weight: 700;
            }
            .shopDsr-con li .sDc-low {
                color: #217311;
                font-weight: 700;
            }
            .shop-head .shopHead-dsr .shopDsr-con b {
                margin: 0 5px 0 13px;
                line-height: 15px;
                padding: 1px 2px 1px 3px;
                vertical-align: middle;
                font-weight: 400;
                color: #fff;  
            }
            .shop-head .shopHead-dsr .shopDsr-con b.sDc-high {
                background: #ff0036;
            }
            .shop-head .shopHead-dsr .shopDsr-con b.sDc-low {
                background: #217311;
            }
        .shopCon .shop-head .shopHead-enter {
            float: left;
            width: 180px;
            padding-left: 140px;
            margin: 22px auto 0;
        }
            .shop-head .shopHead-enter .sHe-shop {
                margin:5px auto 18px;
                display: block;
                width: 119px;
                height: 22px;
                line-height: 22px;
                padding-left: 60px;
                color: #fff;
                background-color: #806f66;
                border: 1px solid #6b635f;
            }
            .shop-head .shopHead-enter .sHe-shop:hover {
                opacity: .8;
            }
            .shop-head .shopHead-enter .sHe-shop i {
                padding-left: 38px;
                font-family: \5B8B\4F53;
            }
            .shop-head .shopHead-enter .sHe-product {
                display: block;
                outline: #EAE5E1 solid 1px;
                border: 1px solid #fff;
                width: 177px;
                text-align: center;
                height: 20px;
                margin: 0 auto;
                position: relative;
                background-color: #F7F5F5;
                color: #595959;
                line-height: 20px;
            }
            .shop-head .shopHead-enter .sHe-product:hover {
                background-color: #fff;
            }
            .shop-head .shopHead-enter .sHe-product i {
                position: absolute;
                bottom: -2px;
                right: 19px;
            }
    .shopCon .shopBox .shop-rec {
        margin-left: 130px;
        border: 3px solid #e6e2e1;
        background-color: #f2f2f2;
        position: relative;
    }
    .shopBox .shop-rec .sBr-con {
        padding-left: 4px;
        overflow: hidden;
        height: 310px;
    }
        .shop-rec .sBr-con .product {
            background-color: #fff;
            float: left;
            width: 185px;
            height: 287px;
            margin: 10px 7px 20px;
            padding: 5px;
        }
        .shop-rec .sBr-con .product .productImg-wrap {
            height: 160px;
            margin-bottom: 5px;
            width: 100%;
        }
        .shop-rec .sBr-con .product .productImg-wrap img {
            display: block;
            max-width: 100%;
            max-height: 160px;
            margin: auto;
        }
        .shop-rec .sBr-con .product .productPrice {
            color: #ff0036;
            font-size: 20px;
            height: 30px;
            line-height: 30px;
            margin: 0 0 5px;
            text-indent: 10px;
            font-weight: 400;
        }
        .shop-rec .sBr-con .product .productPrice b {
            font-size: 12px;
        }
        .shop-rec .sBr-con .product .productTitle {
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            white-space: nowrap;
            overflow: visible;
        }
        .shop-rec .sBr-con .product .productShop {
            position: relative;
            height: 22px;
            line-height: 20px;
            margin-bottom: 5px;
            color: #999;
            white-space: nowrap;
            overflow: visible;
        }
        .shop-rec .sBr-con .product .productStatus {
            height: 47px;
            position: relative;
            border-top:1px solid#eee;
            color: #999;
            overflow: hidden; 
        }
        .shop-rec .sBr-con .product .productStatus span {
            width: 33%;
            height: 29px;
            padding: 9px 5px;
            margin: 0;
            line-height: 15px;
            text-align: center;
            float: left;
            font-size: 12px;
        }
        .shop-rec .sBr-con .product .productStatus span.small {
            width: 30px;
        }
        .shop-rec .sBr-con .product .productStatus span em {
            color: #b57c5b;
            font-family: arial;
            font-weight: 700;
        }
        .shop-rec .sBr-con .product .productStatus span a {
            color: #38b;
        }
        .shop-rec .sBr-con .product .productStatus .ww-light {
            display: block;
            background:url("../image/wangwang.png") no-repeat center center;
            background-size: 16px;
            height: 16px;
            width: 16px;
            margin: auto;
        }
    .shopCon .shopBox .shop-rec .sBr-arrow {
        position: absolute;
        top: -33px;
        right: 130px;
        height: 0;
        width: 0;
        border-width: 15px;
        border-color: transparent transparent #e6e2e1;
        border-style: solid;
    }
    .shopCon .shopBox .shop-rec .sBr-more {
        text-align: right;
        padding: 10px 20px 10px 10px;
    }
    .shopCon .shopBox .shop-rec .sBr-more i {
        font-family: \5B8B\4F53;
        padding-left: 10px;
    }
    @media (max-width: 1210px) {
        .shopCon .shop-head .shopHead-info {
            width: 240px;
        }
        .shopCon .shop-head .shopHead-enter {
            padding-left: 70px;
        }
        .shopBox .shop-rec .sBr-con {
            padding-left: 10px;
        }
    }

    /*店铺展示样式结束*/
    /*小图展示样式*/
    #content .main .listItem {
        margin-top: -5px;
    }
        .main .listItem .product {
            float: left;
            width: 33.33%;
            height: 115px;
            padding: 10px 0;
            border-top: 0;
            color: #666;
            line-height: 22px;
        }
        .main .listItem .product .productMain {
            padding: 8px 13px;
            overflow: hidden;
        }
        .main .listItem .product .productMain:hover {
            border:2px solid #ddd;
            margin: -2px;
        }
        .listItem .product .productMain .productImg {
            float: left;
            margin: 0 9px 0 0;
            border: 1px solid #d7d7d7;
            width: 80px;
            height: 80px;
        }
        .listItem .product .productMain .productImg img {
            max-width: 80px;
            max-height: 80px;
        }
        .listItem .product .productMain .productInfo {
            width: 70%;
            overflow: hidden;
            color: #a7a7a7;
            float: left;
         }
         .listItem .product .productInfo h4 {
            height: 18px;
            line-height: 1.5;
            overflow: hidden;
         }
         .listItem a {
            color: #666;
            font-size: 12px;
            line-height: 1.5;
         }
         .listItem .product .productInfo .proSell-price {
            font-family: arial,verdana,sans-serif!important;
            color: #ff0036;
            font-weight: 700;
            font-size: 16px;
         }
         .listItem .product .productInfo .productStatus em {
            color: #C49173;
            font-weight: 700;
            margin-left: 2px;
         }
         .listItem .product .productInfo .productShop>a {
            float: left;
            display: inline-block;
            line-height: 22px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 96px;
         }
         .listItem .product .productInfo .productShop span a {
            display: inline-block;
            height: 22px;
            width: 22px;
            background:url(../image/wangwang.png) no-repeat center center;
            background-size: 22px;
         }
        .listItem .product .productMain hr {
            display: block;
            clear: both;
            margin: 3px 0;
            border: none;
            border-top: 1px dashed #CCC;
            height: 0;
         }
         .listItem .product .product-limited span+span{
            border-left: 1px solid #568396;
         }
         .listItem .product .product-limited a {
            color: #568396;
            margin: 0 5px;
         }
    /*分页样式*/

    #content .ui-page {
        height: 60px;
        margin: 10px 0 20px;
        color: #999;
        text-align: center;
        font-size: 14px;
        font-family: \5B8B\4F53,Helvetica,sans-serif;
    }
    #content .ui-page .ui-page-wrap {
        display: inline-block;
    }
    #content .ui-page .ui-page-wrap .ui-page-num {
        float:left;
        padding-top: 19px;
    }
        #content .ui-page .ui-page-wrap .ui-page-num b,#content .ui-page .ui-page-wrap .ui-page-num a {
            float: left;
            border: 1px solid #E5E5E5;
            padding: 12px 14px 0;
            height: 26px;
        }
        #content .ui-page .ui-page-wrap .ui-page-num b {
            background-color: #EFEFEF;
        }
        #content .ui-page .ui-page-wrap .ui-page-num a:hover {
            background-color: #EFEFEF;
        }
    #content .ui-page .ui-page-wrap .ui-page-skip {
        float: left;
        margin-top: 19px;
        padding: 10px 0 0 10px;
    }
    #content .ui-page .ui-page-wrap .ui-page-skip input {
        width: 32px;
        height: 18px;
        margin: -2px 2px 0;
        line-height: 20px;
        font-size: 16px;
        color: #999;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc;
    }
    #content .ui-page .ui-page-wrap .ui-page-skip button {
        height: 24px;
        width: 46px;
        border:1px solid #ccc;
        color: #333;
        vertical-align: middle;
        border-radius: 2px;
        cursor: pointer;
    }
